body {
  background-image: url("/public/assets/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Fira Code', monospace;
  
}
h1{
  padding-top: 20px;
  text-align: center;
  font-family: 'Fira Code', monospace;
  color: #fafafa;
  font-weight: bold;
}
h2 {
  font-family: 'Fira Code', monospace;
  color: #fafafa;
  font-weight: bold;
}
.fas {
  color: #00ff00;
  font-size: 20px;
  text-decoration: none;
}
h3 {
  font-family: 'Fira Code', monospace;
  color: #00ff00;

  font-size: 20px;
  text-align: center;
}
h4{
  color: #fafafa;
  font-weight: bold;
}
p {
  color: #fafafa;
  text-align: left;
  font-size: 16px;
  
}
.navbar {
  background-color: #333333 !important;
  font-weight: bold;
}
.navbar-brand img {
  width: 100px;
}
.nav-link {
  color: #00ff00 !important;
}
.nav-link:hover {
  color: #088734 !important;
}
.margin {
  padding-top: 50px;
  padding-bottom: 50px;
}





.w3-padding-16{
  border-radius: 8px; 
  color: #fafafa;
  font-size: large;
  background-color: #1f1f1fCC;
}
#home .mySlides img{
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 500px;
}
#home .ss img{
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 300px;
}

#parceiros p{
  color: #00ff00;
}
.parceiros {
  background-color: #1f1f1f !important;
}
.parceiros .row {
  margin-top: 50px;
}
.col-lg-4 img {
  border-radius: 8px;
}
.row img {
  border-radius: 8px;
}
.row h3 {
  margin-top: 30px;
  text-align: center;
  margin-bottom: 20px;
}
iframe{
  border-radius: 8px;
}





/* hover for portfolio categories */
.over {
  position: relative;
}
.over .img {
  display: block;
  width: 100%;
  height: auto;
}
.overlay {
  cursor: pointer;
  border-radius: 8px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #088734;
}
.over:hover .overlay {
  opacity: 80%;
}
.over-text {
  
  color: #fafafa;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.about {
  background-color: #bebebe80;
}
#publicacoes img {
  width: 100%;
  height: 240px;
}
#referencias h3 {
  text-align: justify;
}






/* footer menu and footer info */
.contactt h4{
  font-size: 20px;
  font-weight: bold;
  color: #fafafa;
  font-family: 'Fira Code', monospace;
}
.bg-footer {
  position: bottom;
  color: #00ff00;
}
.w-contacts-item{
  text-align: left;
 }
.w-socials{
  font-family: 'Fira Code', monospace;
  text-align: left;
  font-weight: normal;
  color: #fafafa; 
}
.w-socials a{
  cursor: pointer;
  color:inherit;
  text-decoration:none;
}
.footer-menu{
  text-align: left;
}
.footer-menu ul li a{
  cursor: pointer;
  font-weight: normal;
  color: #fafafa;
}
.footer-menu ul  {
  list-style: none; 
}
.footer-menu ul li:before {
 color: #088734;
  content: "↳‎‎‎ ";
 
}
.socialm{
  display: inline-block;
}





/* send and  resert buttons */
.test{
  cursor: pointer;
  background-color: rgb(169, 255, 135);
  font-weight: 600;
  height:50px;
  width:80px;
  border-radius: 8px;
  transition: 400ms;
  border: 0;
}
.test:hover{
  background-color: #088734;
}






/* email form */
* {
  box-sizing: border-box;
}
input[type=text],
select,
textarea {
  font-family: 'Fira Code', monospace;
  
  font-size: medium;
  width: 100%;
  padding: 12px;
  border: 1px solid #45a049;
  background-color: #fafafa;
  border-radius: 4px;
  box-sizing: border-box;

  
  resize: vertical;
}
input[type=submit] {
  cursor: pointer;
  background-color: rgb(169, 255, 135);
  font-weight: 600;
  height: 50px;
  width: 100px;
  border-radius: 8px;
  transition: 400ms;
  border: 0;
}

input[type=submit]:hover {
  background-color: #45a049;
}
input[type=reset] {
  cursor: pointer;
  background-color: rgb(169, 255, 135);
  font-weight: 600;
  height: 50px;
  width: 100px;
  border-radius: 8px;
  transition: 400ms;
  border: 0;
}

input[type=reset]:hover {
  background-color: #45a049;
}
.container {
  font-family: 'Fira Code', monospace;
  border-radius: 5px;
  
}
.box{
  margin-left: 20px;
  }
.box p{
  height:120px;
  width:325px;
  font-weight: 600;
  padding: 12px;
  background-color:#f2f2f2;
  border-radius: 8px;
  resize: vertical;
}